.footer-title {
  color: #e1ecf8;
  display: inline-block;
  vertical-align: middle;
  font-family: "Times New Roman", serif;
}

.footer {
  //position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(105, 105, 105, 0.9);
  color: #e1ecf8;
  padding: 10px 15px;
  font-size: 14px;
  font-family: "Times New Roman", serif;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.footer .left {
  flex: 1;
  color: #e1ecf8;
}
.footer .right {
  white-space: nowrap;
  margin-left: 20px;
  color: #e1ecf8;
}
.footer a {
  color: #5a8ce8;
}

