<mat-toolbar color="primary">
  <span>EASY&FOOD</span>
  <span class="spacer"></span>

  <button mat-button
          aria-label="Products"
          routerLink="/products">Продукты
  </button>

  <button mat-button
          aria-label="ADMIN"
          routerLink="/admin">Админ
  </button>

  <button *ngIf="!currentUser"
          mat-button
          aria-label="LOGIN"
          (click)="openLoginModal()">Войти
  </button>

  <div *ngIf="currentUser">
    <button mat-button
            routerLink="/"
            (click)="logout()">Выйти</button>
    <span class="name">{{ currentUser.username }}</span>
  </div>

</mat-toolbar>
