.navbar {
  background-color: #4f779f; /* Цвет фона */
}

.nav-link {
  color: #007bff; /* Цвет ссылок */
}

.nav-link:hover {
  color: #0056b3; /* Цвет ссылок при наведении */
}

html, body {
  height: 100%;
  margin: 0;
}

.d-flex {
  display: flex;
}

.flex-fill {
  flex: 1;
}

.min-vh-100 {
  min-height: 100vh;
}
