.outer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #cccccc; // серый фон контейнера
  box-sizing: border-box;
  //padding-bottom: 50px;
}

.body {
  font-family: "Times New Roman", sans-serif;
  background-color: #ffffff;
  margin: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 16px;
  overflow: auto;
}

h4 {
  color: #02478e;
  font-family: "Times New Roman", sans-serif;
  font-weight: bold;
  margin-bottom: 3.5px;
}
