/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr.css';

.toast-times-new-roman {
  font-family: 'Times New Roman', Times, serif !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
}
